   
   @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

    *{
        margin: 0;
        padding: 0;
        background-color: black;
        list-style: none;
        text-decoration: none;

    }

    header{
        height: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav{
        width: 60%;
    }    

    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    li{
        list-style: none;
        color: aliceblue;
        cursor: pointer;
        font-size: 19px;
        transition: .5s;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    li:hover {
        color: #d21617;
    }

    #logo{
        width: 150px;
        height: auto;
    }

    #banner{
        background-image: url('https://legadodadc.com.br/wp-content/uploads/2021/10/FBwMUCvXoAQkB0q.jpg');
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        height: 500px;
    }

    #trailer-container{
        width: 100%;
        height: 400px;  
        display: flex;
        justify-content: center;
    }

    .content{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .trailer{
        width: 50%;
    }

    #sinopse{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }

    .description{
        color: #fff;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }

    .button{
        width: 200px;
        height: 60px;
        background-color: #d21617;
        color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: .8s;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: none;
        outline: none;
        margin-top: 25px;    
    }

    .button:hover{
        background-color: #fff;
        color: #000;
    }

    .actor-cards-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .cards-content{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    .card{
        width:100% ;
        height: 600px;
        background-size: cover;
        background-position: 50% 50%;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 20px 10px;
        color: #fff;
        font-size: 17px;
        font-family: 'Kdam Thmor Pro', sans-serif; ;
    }

    .card:hover{
        transform: scale(1.05);
    }

    .banner-1{
        background-image: url('https://img.odcdn.com.br/cdn-cgi/image/width=960,height=1200,fit=cover/wp-content/uploads/2022/01/The-Batman.jpg');
    }
    
    .banner-2{
        background-image: url('https://i.pinimg.com/550x/3c/a6/28/3ca6282ac5440b49f0008981ad151512.jpg');
    }    
    
    .banner-3{
        background-image: url('https://static.wikia.nocookie.net/batman/images/3/36/Jim_Gordon_Total_Film_still.webp/revision/latest?cb=20220220041206');
    }

    footer{
        height: 300px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

   span{
        color: #fff;
        font-family: 'Kdam Thmor Pro', sans-serif; ;
   } 

   .footer-navegation{
    display: none;
   }

   .footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

/* Contato */

   #content-contact{
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

    .contact{
    width: 85%;
    height: 550px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid rgb(140, 193, 240);
    border-radius: 5px;
}
    #imagem{
    width: 60%;
    height: 100%;
    background-image: url('https://static.wikia.nocookie.net/universo-batman/images/a/ac/P%C3%B4ster_de_%27Batman%27.jpg/revision/latest/scale-to-width-down/1200?cb=20220307110904&path-prefix=pt-br');
    background-position: 50% 50%;
    background-size: cover;
}

    #forms {
    color: #fff;
    font-size: 16px;
    width: 40%;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 0px 20px;
    margin-bottom: 50px;
}

    input, textarea{
    color: #fff;
    font-size: 14px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 95%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 0 10px 0;
    display: flex;
    justify-content: center;
    }

    .input{
    margin-bottom: 15px;
    }

    #frase1{
        height: 50px;
        color: #fff;
        font-size: 20px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        padding: 20px 0 0px 110px;
        display: flex;
        justify-content: flex-start;
        position: static;
    }

    #frase2{
        color: #fff;
        font-size: 14px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        padding: 0px 0 10px 110px;
        display: flex;
        justify-content: flex-start;
        position: static;
    }

/* Comentarios */

    .template{
        background-color: black;
        display: flex;
    }
    .imagem-coment{
        background-image: url(https://i.pinimg.com/564x/af/46/c4/af46c4793e08ea55efb12b4a292d2c08.jpg);
        background-position: 50% 50%;
        background-size: cover;
        width: 40%;
        height: auto;

    }
    .painel{
        background-color: transparent;
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
}

    .coment{
        width: 95%;
        height: auto;
        border: 2px solid aliceblue;
        margin: 10px 0 0 10px;
        color: #fff;
        font-size: 16px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-radius: 21px 21px 0 21px;
        justify-content: flex-end;
        transition: 1s;
    }
    .coment2{
        width: 95%;
        height: auto;
        border: 2px solid aliceblue;
        margin: 10px 0 0 10px;
        color: #fff;
        font-size: 16px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        border-radius: 21px 21px 21px 0;
        justify-content: flex-end;
        transition: 1s;
    }

    .coment:hover{
        transform: scale(1.05);
        color: aliceblue;
        border: 2px solid #d21617;}

        .coment2:hover{
            transform: scale(1.05);
            color: aliceblue;
            border: 2px solid #d21617;}

    #c1{
        width: 95%;
        margin: 5px 0 5px 15px;
        text-align: right;
    }

    #c2{
        width: 95%;
        margin: 5px 0 5px 15px;
        text-align: left;
    }
    .autor-coment{
        width: 90%;
        height: auto;
        margin: 5px 5px 35px 10px;
        color: #fff;
        font-size: 14px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        display: flex;
        justify-content: flex-end;
    }

    .autor-coment2{
        width: 90%;
        height: auto;
        margin: 5px 5px 35px 10px;
        color: #fff;
        font-size: 14px; 
        font-family: 'Kdam Thmor Pro', sans-serif;
        display: flex;
        justify-content: flex-start;
    }

    /* Fotos */

    .container-fotos{
        background-color: black;
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagens{
        width: 95%;
        height: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 40px;
    }

    .foto{
        width:100% ;
        background-size: cover;
        background-position: 50% 50%;
        border: 2px solid aliceblue;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 20px 10px;
        color: #fff;
        font-size: 17px;
        font-family: 'Kdam Thmor Pro', sans-serif;

    }

    .foto:hover{
        transform: scale(1.05);
        color: #d21617;
        border: 2px solid #d21617;
    }

    .bastidores{
        background-image: url(https://i.pinimg.com/564x/98/40/6e/98406e028072674fe04102b8756b06fa.jpg);
    }
    
    .filme{
        background-image: url(https://i.pinimg.com/564x/71/55/9d/71559d4542b6402c7be5b00179ade5ba.jpg);
    }

    .premiere{
        background-image: url(https://content.api.news/v3/images/bin/089e216f980c0534316349d878548d6f);
    }

    .elenco{
        background-image: url(https://i.ibb.co/8XdXCZ0/the-batman-every-actor-cast-in-the-movie-so-far-screen-rant.jpg);
    }

  @media(max-width: 768px){
    .footer-navegation{
        display: block;
        position: static;
        margin: 0px;
    }

nav{
    display: none;
}

#banner{
    background-position: 40%;
}

#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.content{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.trailer{
    width: 100%;
}

#sinopse{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    width: 100%;
}

.button{
    width: 100%;
    margin-top: 30px;
}

.cards-content{
    grid-template-columns: 1fr;
    margin-top: 150px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* Contato */

#content-contact{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
   }

.contact{
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid rgb(140, 193, 240);
    border-radius: 5px;
    position: relative;
  } 

  #imagem{
    width: 100%;
    height: 250px;
    background-image: url('https://www.hardware.com.br/wp-content/uploads/static/wp/2022/03/03/20220228-ovicio-batman-dc-filme-logo.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

    #forms {
    color: #fff;
    font-size: 16px;
    width: 90%;
    height: 500px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px 0px 20px;

}

input, textarea{
    color: #fff;
    font-size: 14px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 90%;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    }

/* Fotos */

.container-fotos{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    padding: 0 25px ;
    }

.bastidores{
    background-position: 50% 50%; 
    }

.filme{
    background-position: 90% 10%; 
}
.premiere{
    background-position: 70% 20%;
}

.elenco{
    background-position: 70% 20%;
}

}